version: "3.9"
services:
  app:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./backend/instance:/app/backend/instance
      - ./backend:/app/backend
      - ./frontend:/app/frontend
    environment:
      VITE_API_URL: "http://localhost:5000"
